* {
  box-sizing: border-box;
}






.wrapp{
    
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 2vh 5vw;  
   max-width: 100vw;
  overflow-x: hidden;
  
}

.descripcion{
    font-size: 0.75em;
    text-align: center;
    width: 75%;
}

.imagen{
    width: 15vw
}

.precio{
    font-size: larger;
    font-weight: 600;
}

.btnCompra{
   background-color: #007bff;
   margin-bottom: 2rem;
}
 


 @media screen and (max-width: 600px) {

        
            .wrapp {
                padding: 4vh 3vw;
            }

            .descripcion {
                font-size: 0.9em;
                width: 90%;
            }

            .imagen {
                width: 50vw;
            }

            .precio {
                font-size: 1em;
            }

            .btnCompra {
                width: 80%;
                font-size: 1em;
            }
}




@media screen and (max-width: 900px) {
    .imagen {
        width: 30vw;
    }

    .descripcion {
        width: 85%;
    }
    }

    