.Cont-gral{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inherit;
    
}

form{
  display: flex;
  flex-direction: column;
  gap: 15px;
 
}

input{
  font-family: inherit;
}