.cabecera{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 55px;
    
}

.texto{
   font-size: 0.8em;
   text-align: center;
   width: 75%; 
}

.cont{
   display: flex;
   flex-direction: column; 
   align-items: center;
}



@media screen and (max-width: 600px) {
   .ima{
   width: 80%; 
   }



}