:root {
  --texto: #FFF;
  --bgGeneral: #F2F2EB;
  --bgCard: #A8644B;
  --navbarC: #72383D;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 50px;
    background-color:black;
    color:var(--texto);
    box-shadow: 2px 2px 5px hsla(0, 0%,0%, 0.8);
    position: sticky;
    top: 0;
    z-index: 100;
}

.tituloppal{
   /*  color: var(--bgGeneral); */
    text-shadow: var(--texto) 1px 0 10px;
}
.tituloppal a{
    text-decoration: none;
   /*  color: var(--bgGeneral); */
}

nav ul {
    list-style: none;
    display: flex; /* Flexbox para alinear horizontalmente los <li> */
    gap: 15px;    /* Espacio entre los <li> */
    padding: 0;
    margin: 0;
}

nav p{

    color:var(--bgGeneral);
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
        
}

.dropdown li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown p {
  display: block;
  padding: 10px 15px;
  margin: 0;
}



#salir{
  margin: 0;
  padding: 10px 15px;

}

.dropdown .contenido{
    display: none;
    background-color:black;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%,0%, 0.8);



}

.dropdown:hover .contenido{
    display: block;

    

}

nav p:hover{
   /*  background-color: var(--texto); */
    border-radius: 4px;

}


nav ul li {
    display: flex; /* Alineación en el centro de cada <li> */
    align-items: center;
   /*  color:var(--texto); */
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
}


nav ul li ap :hover {
   background-color: black;
   border-radius: 4px;
}

.titDisplay{
    margin: 0;  
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    /* color:var(--texto);*/
    background-color: black;

}


.user{

    margin: 0;  
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
    /* color:var(--texto);
    background-color:var(--bgGeneral);
 */

}





.encabezado{
 
  display: flex;
  justify-content: space-between;
  padding-right: 3%;
  padding-left: 3%;

}

.linky{
   
    padding: 10px;
    margin-left: 22px;
}
@media screen and (max-width: 600px) {


.tituloppal{
    font-size: 35px;
}





nav ul {
    display:flex;
    flex-direction: column;
    margin:auto;
}
nav p{
  margin: 0;
   
}
.titDisplay{
   margin-left: 0; 
   text-align:center;
   
}
}
